
.section {
    padding: 64px 0;
    background: black;
    color: white;
}

.content {
    display: flex;
    padding: 0 15%;
}

.sectionHeading {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 0;
    flex: 1;
    font-family: 'Oswald', sans-serif;
}

.heading {
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
}


.posts {
    margin-top: 24px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    background: white;
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
    display: flex;
    justify-content: center;

}

.posts svg {
    width: 100%;
    height: auto;
    object-fit: cover;
}



@media only screen and (max-width: 500px) {
    .content {
      flex-direction: column;
    }
  }
