

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 24px 32px;
    box-sizing: border-box;
}

.navbar a {
  text-decoration: none;
}

.navbar .links a {
  color: black;
  margin-right: 16px;
  font-size: 1.3rem;
}

.navbar .logo {
  background-color: white;
  color: black;
}

  
.navbar .contact {
  background-color: white;
  color: black;
  padding: 16px 24px;
}

.navbar .contact:hover {
  opacity: 0.8;
}

.hamburger {
  display: none;
}

.mobileNav {
  display: none;
}

.mobileNav svg {
  width: 2rem;
  height: 2rem;
  margin: 0 8px;
  color: black;
  margin: 8px 0;
}

.openMobileNav {
  transform: translateX(-160px);
}

.bar {
  background-color: black;
  height: 4px;
  width: 36px;
  margin: 3px;
  border-radius: 10px;
}

@keyframes flipBar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}

@keyframes flipBar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}

@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}

/* back */

@keyframes flipBackBar1 {
  from {
    transform: rotate(45deg) translate(4px, 10px);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes flipBackBar3 {
  from {
    transform: rotate(-45deg) translate(4px, -10px);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes fadeBackBar2 {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}


.animateBar1 {
  animation: flipBar1 1s;
  animation-fill-mode: forwards;
}
.animateBar2 {
  animation: fadeBar2 1s;
  animation-fill-mode: forwards;
}
.animateBar3 {
  animation: flipBar3 1s;
  animation-fill-mode: forwards;
}

.animateBackBar1 {
  animation: flipBackBar1 1s;
  animation-fill-mode: forwards;
}
.animateBackBar2 {
  animation: fadeBackBar2 1s;
  animation-fill-mode: forwards;
}
.animateBackBar3 {
  animation: flipBackBar3 1s;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 500px) {
  .links {
    display: none;
  }

  .hamburger {
    background: white;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }

  .mobileNav {
    width: 90px;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -160px;
    padding: 16px;
    transition: transform 0.7s;
  }

}
